<div class="container d-flex flex-row align-items-center justify-content-between">
    <h1>Bienvenido {{user.first_name}} {{user.last_name}}</h1> 
    <div class="d-flex align-items-center gap-2">
        Rol: {{user.role}}<a href="http://localhost:8080/api/sessions/logout"><input class="btn btn-primary" type="button" value="Logout"></a>  
        {{#if user.flag }}
            <a href="http://localhost:8080/api/users/premium/{{user._id}} "><input class="btn btn-primary" type="button" value="Hacerse premium"></a> 
        {{else}}
            <a href="http://localhost:8080/api/users/premium/{{user._id}} "><input class="btn btn-primary" type="button" value="Hacerse user"></a> 
        {{/if}}
    </div>
</div>
<div class="container">
    <h2>Productos</h2>
    {{#each products.docs}}
        <ul class="d-flex flex-row align-items-center justify-content-center gap-4">
            <div>
                <img src="{{this.thumbnail}}" alt="{{this.title}}">
            </div>
            <div>
                <div >
                <li>Title: {{this.title}}</li>
                <li>ID: {{this._id}}</li>
                <li>Description: {{this.description}}</li>
                <li>Code: {{this.code}}</li>
                <li>${{this.price}}</li>
                <li>Stock: {{this.stock}}</li>
                <li>Category: {{this.category}}</li>
                <div>
                    <form class="mt-4 d-flex flex-row align-items-center justify-content-center gap-4">
                        <input class="btn btn-primary" type="submit" value="Agregar al carrito">
                    </form>
                </div>
            </div>
            </div>
        </ul>
    {{/each}}
    <div class="d-flex flex-row align-items-center justify-content-center mb-4">
        {{#if products.hasPrevPage }}
            <a href="{{products.prevLink}}" class="btn btn-primary">Anterior página</a>
        {{/if}}
        {{#if products.hasNextPage}}
            <a href="{{products.nextLink}}" class="btn btn-primary">Siguiente página</a>
        {{/if}}
    </div>
</div>