<div class="container">
    <h1>Productos</h1>
    {{#each docs}}
        <ul class="d-flex flex-row align-items-center justify-content-center gap-4">
            <div>
                <img src="{{this.thumbnail}}" alt="{{this.title}}">
            </div>
            <div>
                <div >
                <li>Title: {{this.title}}</li>
                <li>ID: {{this._id}}</li>
                <li>Description: {{this.description}}</li>
                <li>Code: {{this.code}}</li>
                <li>${{this.price}}</li>
                <li>Stock: {{this.stock}}</li>
                <li>Category: {{this.category}}</li>
                <div>
                    <form class="mt-4 d-flex flex-row align-items-center justify-content-center gap-4" action="/pokedex" method="post">
                        <input class="btn btn-primary" type="submit" value="Agregar al carrito">
                    </form>
                </div>
            </div>
            </div>
        </ul>
    {{/each}}
    <div class="d-flex flex-row align-items-center justify-content-center mb-4">
        {{#if hasPrevPage }}
            <a href="{{prevLink}}" class="btn btn-primary"  >Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="{{nextLink}}" class="btn btn-primary" >Siguiente</a>
        {{/if}}
    </div>
</div>